:root{
  --primary:#232f79;
  --secondary: #7a7b81;
}

.btn{
  padding: 10px 55px 10px 55px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;

  &--primary{
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary);
  }
  &--secondary{
    background-color: var(--secondary);
    color: white;
    border: 1px solid var(--secondary);
  }

  &--outline{
    background-color: transparent;
    color: white;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }

  &--medium{
    padding: 15px 60px 15px 60px;
    font-size: 20px;
  }

  &--large{
    padding: 20px 66px 20px 65px;
    font-size: 20px;
  }

  &--medium:hover, &--large:hover{
    transition: all 0.3s ease-out;
    -webkit-box-shadow: 0px 0px 35px -6px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 0px 35px -6px rgba(0,0,0,0.61);
    box-shadow: 0px 0px 35px -6px rgba(0,0,0,0.61);
  }

}

