.local-stream__component{
  width: 24px;
  height: 24px;
  z-index: 1;
  margin-right: 40px;
  position: relative;
  > video {
    object-fit: cover;
  }
  div{
    position: absolute;
    color: blue;
    top: 10px;
    left: 10px;
  }
}