.meeting-room{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  /**
  Set % layout
  */
  .left-content{
    width: 100% !important;
    .heading-controller{
      width: 100%;
      height: 10%;
    }
    .remote-stream{
      width: 100%;
      height: 90%;
    }
  }
  .right-content{
    min-width: 300px;
    .chat-component{
      width: 100%;
      height: 100%;
    }
  }
}
.chat-component-mobile{
  height: 100vh;
  width: 100vw;
}
@media only screen and (max-width: 440px) {
  .meeting-room{
    .left-content{
      display: none;
    }
    .right-content{
      width: 100%;
    }
  }
} 
